<div class="container text-center">

<h1 class="text-center my-4 text-secondary titulo">Inicio Contacto 0047</h1>

<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Tu informacion no es compartida con terceros.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Clave de acceso</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Confirmar</label>
    </div>
    <button type="submit" class="btn btn-secondary">enviar</button>
</form>

</container>



