<div class="container text-center col-4 ">

<h1 class="text-center my-4 text-secondary titulo">Pages Contacto 0047</h1>

<form>
    <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text border border-1">Tu informacion no es compartida con terceros.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Clave de acceso</label>
        <input type="password" class="form-control border border-1" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-secondary">enviar</button>
</form>

</container>



