<div class="container">

<h1 class="text-center my-4 text-secondary pb-2 titulo">Pages Landing Home</h1>

<p class="pt-4 col-8">
<b>Version</b> 1.0 "Ingreso de estructura Controlador Pages . Vistas Home (root), Projects y Contacts"
<BR><BR>
<b>Version</b> 1.01 "Activacion de Galeria de proyectos en pagina <b>pages/projects</b>"
<BR><BR>
<b>Version</b> 1.02 Configuracion de rutas
<BR><BR>
<b>Version</b> 1.03 Configuracion de Css y librerias Bootstrap

</p>

</container>