<div class="container">

    <h1 class="text-center my-4 text-secondary titulo">Inicio Proyectos 0047</h1>

    <div class="section col-12 ">

        <div class="card-group  d-flex justify-content-center mx-auto">
        
            <div class="card mx-2 border border-4" >
            <img width="400" src="/assets/iguana_page.png" class="card-img-top border border-1" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pagina Simple Iguana</h5>
                <p class="card-text">Landing que implica tener conocimientos basicos de css y html, donde se aplicaron los primeros conceptos de clases e ids</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button class="botonera_vermas"><%= link_to "Ver mas", "https://postre554.github.io/mi-primera-pagina/" %></button>
            </div>
            </div>
            
            <div class="card mx-2 border border-4" >
            <img width="400" src="/assets/suricata.png" class="card-img-top border border-1" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pagina Suricata</h5>
                <p class="card-text">Landing que implica tener conocimientos basicos de css y html, donde se aplicaron tipos de clases Bootstrap</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button class="botonera_vermas"><%= link_to "Ver mas", "https://postre554.github.io/mi-primera-pagina/" %></button>
                </div>
            </div>

            <div class="card mx-2 border border-4" >
            <img width="400" src="/assets/meet_coffee.png" class="card-img-top border border-1" alt="...">
            <div class="card-body">
                <h5 class="card-title">Desafio Meet&Coffee</h5>
                <p class="card-text">Landing que implica tener conocimientos basicos de css y html, donde se aplicaron conceptos intermedios de clases e ids</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button class="botonera_vermas"><%= link_to "Ver mas", "https://postre554.github.io/mi-primera-pagina/" %></button>
                </div>
            </div>

        </div>

    </div>

</container>